certifi==2018.11.29
chardet==3.0.4
conf==0.2.0
dj-database-url==0.5.0
Django==1.11.28
django-heroku==0.3.1
idna==2.8
MarkupSafe==1.1.0
mysql-connector-python==8.0.13
numpy==1.15.4
pandas==0.23.4
profanity==1.1
protobuf==3.6.1
psycopg2==2.7.6.1
PyMySQL==0.8.0
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
requests==2.21.0
scikit-learn==0.20.2
scipy==1.2.0
six==1.12.0
tmdbsimple==2.2.0
urllib3==1.24.1
virtualenv==16.1.0
weather-api==1.0.6
whitenoise==4.1.2
