<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title class="billboard-title align-center">Billboard</title>
    <link href="https://fonts.googleapis.com/css?family=Anton|Pinyon+Script|Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/billboard_app/css/style.css' %}" />
    </head>


<body>
    <a href="/logout/" id="logout-button">Logout</a>
    <div class="billboard-title">BILLBOARD</div>
    <div class="container mx-auto">
        {% if messages|length == 0 %}
        <div class="empty-box mx-auto">
            <h3>The messages list is empty!</h3>
            <div>Click + to add a message</div>
        </div>
        {% else %}
        {% for oneMessage in messages %}
        <div class="message-box mx-auto">
            <span class="date">{{ oneMessage.date }}</span>
            <h3 class="title">{{ oneMessage.title }}</h3>
            <p class="message">{{ oneMessage.text }}</p>
            <h4 class="author">{{ oneMessage.author }}</h4>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <div class="message">
        <form method="post" action="">
            <div class="form">
                <legend class="date">{{date}}</legend>
                {% csrf_token %}
                <input type="text" placeholder="Title" name="messageHeader" id="title-input">
                <br />
                <input type="text" name="userMessage" class="message-input"></input>
                <br />
                <input type="text" placeholder="Author" name="author" id="author-input">
            </div>
                <button type="button" class="btn cancel-button"></button>
                <button type="submit" class="btn send-button"></button>
        </form>
    </div>
    <div class="add-text" id="display-form">
        <button type="button" class="btn plus-button"><i class="fas fa-plus"></i></button>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="{% static '/billboard_app/js/script.js' %}"></script>
</body>

</html>